body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: smaller;
}

#puce {
    list-style-type: none;
}

.purple, .purple legend {
    background-color: rgb(154, 18, 179);
}

.red, .red legend {
    background-color: rgb(219, 10, 91);
}

.blue, .blue legend {
    background-color: rgb(37, 116, 169);
}
